POSTGRES_DSN=postgres://aura:aura@localhost:5432/aura?sslmode=disable
RABBITMQ_URL=amqp://aura:aura@localhost:5672/
USER_URL=http://localhost:8082
SESSION_URL=http://localhost:8083
AUTH_URL=http://localhost:8081
AUDITOR_URL=http://localhost:8084
GATEWAY_ADDR=:8080
